@media screen and (max-width: 1281px){ 
    .wrapper {
        margin: auto;
    } 
}
@media screen and (max-width: 1045px){ 
    .wrapper {
       width: 800px; 
    } 
    .sidebar-pro, 
    .sidebar-enterprise {       
        width: 370px;
        padding-left: 10px;    
    }
    .pictures-block {
        margin-left: 381px;         
    }
    .pic1, .pic2 {
        margin-left: 0;
    }
}
 @media screen and (max-width: 854px){
    .wrapper {
        width: 600px;         
     } 
    .pic2 {
        display: none;
      }  
}
@media screen and (max-width: 650px){
    .wrapper {
        width: 370px; 
     } 
    .pic1 {
        display: none;
      }  
}